		body{
		    background-color:#007CA6;  
		}

		a{
		    text-decoration:none;
		}

		.topMsg{

		    width:400px;
		    margin:100px 50px;
		    text-align:justify
		}

		.topMsg a,.popMsg a{
		    color:#FFF; 
		    font-family:Arial, Helvetica, sans-serif;
		}

		.topMsg h2, .popMsg h2{
		    color:#069;
		    font-size:32px;
		}

		.popMsg{
		    width:250px;
		    margin:100px 50px;
		    text-align:justify;
		}

		.popMsg h3{
		    color:#028;
		}